
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('/theme/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">Bize Ulaşın</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa<i class="ion-ios-arrow-forward"></i></a></span> <span>İletişim<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center">
                            <span class="icon-map-o"></span>
                        </div>
                        <p><span>Adres:</span> Dünya</p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <p><span>Telefon:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center">
                            <span class="icon-envelope-o"></span>
                        </div>
                        <p><span>Email:</span> <a href="mailto:info@sosyalinsaatim.com">info@sosyalinsaatim.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-6 align-items-stretch d-flex">
                <form action="#" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="İsminiz">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mail Adresi">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesajınız"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Mesaj Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
            <div class="col-md-6 align-items-stretch d-flex">
                <div id="map" class="bg-white border"></div>
            </div>
        </div>
    </div>
</section>